fieldset{
    border: #173441 2px solid;
    border-radius: 10px;
    background-color: #d1ddbe;
}
.form{
    width: 550px;
    margin: 0 auto;
    padding-top: 6px;
}
.tablita{
    border: darkblue double 5px;
    padding-top: 1%;
}
#divCUIT {
    border: darkblue double 5px;
}
#divIP {
    border: darkblue double 5px;
}